.brunch {
  font-family: -apple-system, Sans-Serif;
  text-align: center;
  font-size: 24pt;
  color: #3f894a;
}

a {
  color: #3f894a;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

a:hover {
  color: #27552e;
}

h5 > a {
  text-decoration: underline;
}

#header {
    color: green;
    size: 2em;
}
.header {
    overflow: hidden;
    background-color: #96e0b6;
    width: 100%;
    padding: 20px 10px 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
 }

.header a.logo {
  font-size:  2.5em;
  padding: 12px 0px 12px -100px !important;
}
.logo {
    font-weight: bold;
    margin: 0 0 0 20%;
}

.header a:hover {
    background-color: #4CAF50;
    color: white;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-menu {
    float: left;

}

@media screen and (max-width: 1000px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-menu {
    float: none;
    background-color:blue;
  }
}


#content {
    width: 100%;
    margin: 0 auto;
}

#dashboard {
 padding:  25px 0 0 20%;
 width: 80%;

}

.page-title {
    text-align: center;
}

.status-yes {
    text-align: center;
    color: green;
}

.status-no {
    text-align: center;
    color: red;
}

#select-user-form {
    margin-bottom: 25px;
}


.dashboard-menu a {
  margin: 12px;
}

.dashboard-content {
  margin: 12px;
}

/* Weekly problem set styles*/
.form-inline-title {
  margin: 0 20px 0 0;
}
