.brunch {
  font-family: -apple-system, Sans-Serif;
  text-align: center;
  font-size: 24pt;
  color: #3f894a;
}

a {
  color: #3f894a;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

a:hover {
  color: #27552e;
}

h5 > a {
  text-decoration: underline;
}

#header {
    color: green;
    size: 2em;
}

#content {
    width: 80%;
    margin: 0 auto;
}

#dashboard {
}

.page-title {
    text-align: center;
}

.status-yes {
    text-align: center;
    color: green;
}

.status-no {
    text-align: center;
    color: red;
}

#select-user-form {
    margin-bottom: 25px;
}
